name: Chrome Version Test
# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check Chrome version before
        run: |
          google-chrome --version
      - name: Check ChromeDriver version before
        run: |
          chromedriver --version

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: '131'

      - uses: nanasess/setup-chromedriver@v2
        with:
          chromedriver-version: '131.0.6778.87'

      - name: Run tests
        run: npm test

      - name: Check Chrome version after
        run: |
          google-chrome --version
      - name: Check ChromeDriver version after
        run: |
          chromedriver --version
