name: Smoke Test Manual (-s)

on:
  workflow_dispatch:
    inputs:
      suite:
        description: 'Suite name'
        required: true
        default: 'Smoke Test'
      features:
        description: 'Feature (Optional)'
        required: false
        default: ''
      featureTestCases:
        description: 'Specific testcase (Optional)'
        required: false
        default: ''

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  chrome-ubuntu:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout WDIO Repository
      uses: actions/checkout@v3
      with:
        repository: ${{ secrets.WDIO_REPOS }}
        token: ${{ secrets.WDIO_ACCESS_TOKEN }}
        ref: fe-2698

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Run WebDriverIO Tests
      uses: StarUbiquitous/command-output@v1.0.1
      id: wdio
      with:
        run: |
          yarn test:local \
            --suite="${{ github.event.inputs.suite }}" \
            --features="${{ github.event.inputs.features }}" \
            --featureTestCases="${{ github.event.inputs.featureTestCases }}"
      env:
        CAPABILITIES: chrome
        MAX_INSTANCES: 2
        R360_DASHBOARD_URL: ${{ secrets.R360_DASHBOARD_URL_S }}

    - name: WDIO Test Checker
      timeout-minutes: 330
      run: |
        cat > specs-reporter.log <<EOL
        ${{ steps.wdio.outputs.stdout }}
        EOL
        
        if [ ! -z "$(egrep '[0-9]+\sfailed,\s' specs-reporter.log)" ]; then
          exit 1
        fi

    - name: Generate Allure Report
      if: always()
      uses: simple-elf/allure-report-action@v1.13
      with:
        allure_results: reports
        allure_report: allure-report
        allure_history: allure-history

    - name: Upload HTML Report
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: reports-html
        path: allure-report/
        retention-days: 7

    - name: Upload Raw Allure Results
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: reports-allure
        path: reports/
        retention-days: 7
